

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .container{
        margin: 0;
    }

}




@media screen and (max-width:768px) {

    .container{
        margin: 0;
    }

    .nav div.logo{
        margin-left: 15px;
        width:10%;
    }
    .logo-color{
        display: none;
    }
    .nav div.main_list{
        width: 75%;
        margin-top: 65px;
        height: 0;
        overflow: hidden;
    }

    .nav div.show_list{
        height:250px;
       
    }

    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:#242526;
        border-right: none;
        border-left: none;
        border-top:1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid black;
    }
    .nav div.main_list ul li:nth-child(1){
        border-top:none;
    }
    .nav div.main_list ul li:nth-child(6){
        border-bottom: none;
    }
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }

    .nav div.media_button{
        display: block;
        width:10%;
    }

    .hero-img{
        width:100%;

    }
    .text-container{
        width:100%;
        margin-bottom: 50px;
        margin-left:0;
    }
    .con-width{
        flex-direction: column-reverse;
    }
    .section-gap{
        padding-bottom: 2rem;
    }
    .con-width{
        width:85%;
    }
    .about-text{
        width:100%;
        padding:15px;
    }
    .about-img{
        max-width:100%;
        padding-top:20px;
    }
    .input-box input{
        width:100%;
        font-size: 16px;
    }
    .form textarea{
        font-size: 16px;
    }
}